<!doctype html>
<html>

<head>
    <script src="dmxAppConnect/dmxAppConnect.js"></script>
    <script src="js/jquery-3.5.1.slim.min.js"></script>
    <script src="dmxAppConnect/dmxNotifications/dmxNotifications.js" defer=""></script>

    <link rel="stylesheet" href="dmxAppConnect/dmxValidator/dmxValidator.css" />

    <script src="dmxAppConnect/dmxValidator/dmxValidator.js" defer=""></script>

    <script src="dmxAppConnect/dmxBrowser/dmxBrowser.js" defer=""></script>

    <script src="dmxAppConnect/dmxDataTraversal/dmxDataTraversal.js" defer=""></script>

    <script src="dmxAppConnect/dmxFormatter/dmxFormatter.js" defer=""></script>

    <link rel="stylesheet" href="dmxAppConnect/dmxBootstrap5TableGenerator/dmxBootstrap5TableGenerator.css" />



    <script src="dmxAppConnect/dmxSwiper/dmxSwiper.js" defer=""></script>

    <script src="dmxAppConnect/dmxSwiper/swiper.min.js" defer=""></script>

    <link rel="stylesheet" href="dmxAppConnect/dmxSwiper/themes/default.css" />

    <link rel="stylesheet" href="fontawesome5/css/all.min.css" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />

    <link rel="stylesheet" href="css/bootstrap-icons.css" />



    <script src="dmxAppConnect/dmxRouting/dmxRouting.js" defer=""></script>

    <script src="dmxAppConnect/dmxBootstrap5Navigation/dmxBootstrap5Navigation.js" defer=""></script>

    <script src="dmxAppConnect/dmxBootstrap5Modal/dmxBootstrap5Modal.js" defer=""></script>

    <link rel="stylesheet" href="dmxAppConnect/dmxNotifications/dmxNotifications.css" />
    <dmx-serverconnect id="scLogout" url="api/Users/logout" noload dmx-on:success="browserMain.goto('login')"></dmx-serverconnect>








    <base href="/">

    <meta charset="UTF-8">
    <title>Admin Panel</title>

    <dmx-serverconnect id="scMobRech" url="api/RechargeAPI/RechargeAPI"></dmx-serverconnect>
    <dmx-serverconnect id="scOperator" url="api/operator/OperatorsFetch" noload></dmx-serverconnect>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="bootstrap/5/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="./css/style.css" />

    <!-- custom navbar & footer -->
    <link rel="stylesheet" type="text/css" href="./assets/css/styles.min.css" />
    <link rel="stylesheet" type="text/css" href="./assets/css/style.css" />
    <link id="ctl00_style_color" rel="stylesheet" type="text/css" href="./assets/css/blue1.css" />
    <!-- custom navbar & footer -->
    <style>
        .form-check-input {
            background-color: red;
            border-color: red;
            padding-bottom: 1.7rem;
            padding-left: 4rem;
            position: relative;
        }

        .form-check-input:after {
            position: absolute;
            left: 50%;
            top: 5%;
            content: "off";
            color: white;
            font-size: .9rem;
        }

        .form-check-input:checked {
            background-color: green;
            border-color: green;
        }

        .form-check-input:checked:after {
            left: 20%;
            content: "on";
        }

        .form-switch .form-check-input {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='white'/%3e%3c/svg%3e");
            border-radius: .2em;
        }

        .form-switch .form-check-input:focus {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='white'/%3e%3c/svg%3e");
            -moz-box-shadow: none !important;
            -webkit-box-shadow: none !important;
            box-shadow: none !important;
        }
    </style>
</head>

<body is="dmx-app" id="main">
    <div is="dmx-browser" id="browserMain"></div>
    <dmx-notifications id="scNotif" newest-on-top="true" timeout="10000"></dmx-notifications>
    <div is="dmx-view" id="content">

        <!-- Custom Navbar Starts-->
        <section id="layout">
            <div class="logo_profile container_12 bg-warning">
                <div class="grid_3 logo_img" style="margin-bottom:10px; height:60px; overflow:hidden; margin-top:15px;"> <img src="assets/images/swinfotech.png" id="ctl00_logo_img" width="70px" height="70px" /> </div>
                <div class="grid_6 logo_img" style="margin-bottom:10px;width:500px; height:80px; overflow:hidden; margin-top:15px;">
                    Payment Request:<span id="ctl00_lbltolatpayreq">0</span><br />Bank Withdrawal Request:<span id="ctl00_lblbankWithdrawal">0</span>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Pending
                    Recharge:<span id="ctl00_lbltotalrecharge">2</span><br />
                    Tikets:<span id="ctl00_lbltotaltikets">2</span><br />
                    Pending KYC:<span id="ctl00_lblKYC">0</span><br />

                </div>
                <div class="grid_6 profile_meta" style="width:auto; height:auto; float:right;">
                    <div class="user_meta" style="margin-top:20px;background-color:#ffffff">
                        <div class="name" stylealign="center"> <a class="tip-left" title=""><span style="font-size:14px; font-weight:bold;"> <span style="color:#FB4E55;">Logged in as Site Admin</span> -
                                    <span id="ctl00_lblName">Administrator</span></span> </a> <br />
                            <b>Balance:</b><span id="ctl00_lblBalance">13179860.000</span><br />
                            <b>AEPS Balance:</b><span id="ctl00_lblAEPSBalance">11043.000</span><br />
                            <div><a class="dropdown-item" href="#" dmx-on:click="scLogout.load()">
                                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                                    <span class="sd-fw-500">Log Out</span>
                                </a> <a onclick="return confirm(&#39;Are you sure? want to logout admin.&#39;);" id="ctl00_lnkLogout" class="button red tip-left small" title="Click Here to Logout" href="javascript:__doPostBack(&#39;ctl00$lnkLogout&#39;,&#39;&#39;)" style="font-weight:bold;">LogOut</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <section id="top">
                <section id="top_bar">
                    <section id="main_menu">
                        <ul id="meenu">

                            <li><a class="sf-with-ul" href="javascript:void(0)">Dashboard<span class="sf-sub-indicator"> »</span></a>
                                <ul>
                                    <li><a href="dashboard">Dashboard</a></li>
                                    <li><a href="#">Dashboard 1</a></li>
                                </ul>
                            </li>
                            <li><a class="sf-with-ul" href="javascript:void(0)">NEW<span class="sf-sub-indicator"> »</span></a>
                                <ul>
                                    <li><a href="scheme-commision-set">Scheme Commision Set</a></li>
                                    <li><a href="api-add-update">API Add Update</a></li>
                                    <li><a href="scheme">Scheme</a></li>
                                    <li><a href="scheme-priority">Scheme Priority</a></li>
                                    <li><a href="users">Users</a></li>
                                    <li><a href="mobile-recharge">Mobile Recharge</a></li>
                                    <li><a href="operators">Operator</a></li>
                                    <li><a href="relation-op-api">Relation API Operator</a></li>
                                    <li><a href="services">Services</a></li>
                                    <li><a href="bank-admin">Admin Bank</a></li>
                                </ul>
                            </li>
                            <li><a class="sf-with-ul" href="javascript:void(0)">Master<span class="sf-sub-indicator"> »</span></a>
                                <ul>
                                    <li><a href="Operators.aspx">Operators</a></li>
                                    <li><a href="OperatorsUpdate.aspx">Operator update</a></li>
                                    <li><a href="Operatorparam.aspx">Operators Param</a></li>
                                    <li><a href="Rechargeapi.aspx">Transaction api</a></li>

                                </ul>
                            </li>
                            <li><a class="sf-with-ul" href="javascript:void(0)">Setting's<span class="sf-sub-indicator"> »</span></a>
                                <ul>
                                    <li><a href="commission.aspx">Commission/API Settings</a></li>
                                    <li><a href="APIcommission.aspx">API Commission Settings</a></li>
                                    <li><a href="apiForward.aspx">API Forward</a></li>

                                    <li><a href="transfer_user.aspx">Transfer Retailer</a></li>
                                    <li><a href="sendSMS.aspx">Send SMS</a></li>
                                    <li><a href="updateparent.aspx">Update Parent</a></li>
                                    <li><a href="crdr.aspx">Credits</a></li>
                                    <li><a href="dr.aspx">Debits</a></li>


                                    <li><a class="sf-with-ul" href="javascript:void(0)">Service Fee</a>
                                        <ul>
                                            <li><a href="ServiceCharges.aspx">Service Charges Setting</a></li>
                                            <li><a href="ServiceChargeSettlement.aspx">Service Charges Settlement</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li id="ctl00_liSubAc"><a class="sf-with-ul" href="javascript:void(0)">Manage Customers<span class="sf-sub-indicator"> »</span></a>
                                <ul>
                                    <li><a href="addUser.aspx">Add Users</a></li>
                                    <li><a href=" ViewUser.aspx">View User</a></li>
                                    <li><a href="ViewKycUser.aspx">View KYC User</a></li>
                                    <li><a class="sf-with-ul" href="javascript:void(0)">Sales Manager</a>
                                        <ul>
                                            <li><a href="addSalesManager.aspx">Add</a></li>
                                            <li><a href="SalesManeger.aspx">View</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="sf-with-ul" href="javascript:void(0)">CC</a>
                                        <ul>
                                            <li><a href="addcc.aspx">Add</a></li>
                                            <li><a href="cc.aspx">View</a></li>
                                            <li><a href="customercarepage.aspx">Add CustomerCare Pages</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="view_scheme.aspx">View Scheme</a></li>
                                    <li><a href=" SearchUsers.aspx">Search User</a></li>
                                    <li><a href="ServiceSetting.aspx">User Services Setting</a></li>
                                </ul>
                            </li>
                            <li id="ctl00_liReport"><a class="sf-with-ul" href="javascript:void(0)">Reports<span class="sf-sub-indicator"> »</span></a>
                                <ul>
                                    <li><a href="rechargeHistory.aspx">Transaction Report</a></li>
                                    <li><a class="sf-with-ul" href="javascript:void(0)">AEPS</a>
                                        <ul>
                                            <li><a href="AEPSHistory.aspx">AEPS Report</a></li>
                                            <li><a href="baSummary.aspx">AEPS Summary</a></li>
                                            <li><a href="BankWithdrawal.aspx">Bank Withdrawal</a></li>
                                            <li><a href="reconciliationAeps.aspx">Reconciliation Aeps</a></li>
                                            <li><a href="BalancemissAeps.aspx">Balance Miss Aeps</a></li>
                                            <li><a href="UserWiseSummaryAeps.aspx">UserWise Summary Aeps</a></li>
                                            <li><a href="draaeps.aspx">AEPS Debits</a></li>
                                        </ul>
                                    </li>

                                    <li><a href="liverechargeHistory.aspx" target="_blank">Live Transaction Report</a></li>
                                    <li><a href="AccountSummary.aspx">Account Summary Report</a></li>
                                    <li><a href="balance_report.aspx">Balance Report</a></li>
                                    <li><a href="api_sales_report.aspx">API Sales Report</a></li>
                                    <li><a href="transactions.aspx">Transactions</a></li>
                                    <li><a href="SaleDownline.aspx">Downline Summary</a></li>
                                    <li><a href="pendingRecharges.aspx">Pending Transactions</a></li>

                                    <li><a href="Refund.aspx">Refund Report</a></li>
                                    <li><a href="searchTrans.aspx">Update Transaction.</a></li>
                                    <li><a href="walletReport.aspx">Full E-Wallet Report</a></li>
                                    <li><a href="smsussd.aspx">SMS Report</a></li>
                                    <li><a href="bSummary.aspx">Summary</a></li>
                                    <li><a href="APIReconciliation.aspx">API Reconciliation</a></li>
                                    <li><a href="OperatorReconciliation.aspx">Operator Reconciliation</a></li>
                                    <li><a href="UserCommission.aspx">Operator Wise Comm. Report</a></li>

                                    <li><a href="bSummaryOutStanding.aspx">OutStanding Stat. Report</a></li>
                                    <li><a href="UserUsage.aspx" target="_blank">User GST/TDS</a></li>

                                </ul>
                            </li>
                            <li><a href="javascript:void(0)" class="sf-with-ul">My Account<span class="sf-sub-indicator"> »</span></a>
                                <ul>
                                    <li><a href="Profile.aspx">Profile</a></li>
                                    <li><a href="changePassword.aspx">Change Password</a></li>
                                    <li><a href="changeTpin.aspx">Change TPIN</a></li>
                                </ul>
                            </li>
                            <li><a class="sf-with-ul" href="browseTickets.aspx">Support Center<span class="sf-sub-indicator"> »</span></a>
                                <ul>
                                    <li><a href="browseTickets.aspx">Browse Tickets</a></li>
                                    <li><a href="paymentRequest.aspx">Payment Requests</a></li>
                                    <li><a href="paymentHistory.aspx">Payment History</a></li>
                                    <li><a href="SignupRequest.aspx">Signup History</a></li>
                                    <li><a href="APILOG.aspx">Request Response</a></li>
                                    <li><a href="Requestlog.aspx">API Request Response</a></li>
                                    <li><a href="OutStandingCollection.aspx">OutStanding Collection</a></li>
                                </ul>
                            </li>
                            <li><a class="sf-with-ul" href="SearchUsers.aspx">Search<span class="sf-sub-indicator"> »</span></a>

                            </li>
                        </ul>
                        <div class="clear"></div>
                    </section>

                </section>

            </section>
            <!-- End of #top_bar -->
            <div class="clear"></div>
            <section class="top_in">



                <!-- End of #second_top_bar -->
            </section>
            <!-- End of .top_in -->

        </section>


        <!-- Custom Navbar Starts -->
        <!-- Modal Delete Users -->
        <div class="modal fade" id="modalDelUser" is="dmx-bs5-modal" tabindex="-1" nokeyboard="true" nocloseonclick="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Delete User</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h3>Do you want to delete this user?</h3>
                        <form is="dmx-serverconnect-form" id="formDelUser" method="post" action="api/Users/DeleteUsers" dmx-generator="bootstrap5" dmx-form-type="horizontal" dmx-on:success="formDelUser.data.DeleteUsers ? scNotif.success('User Deleted') : ''; modalDelUser.hide();formDelUser.reset();browserMain.goto('users')" dmx-on:error="scNotif.warning('An error occurred'); modalDelUser.hide();formDelUser.reset()">
                            <input type="hidden" name="UserId" dmx-bind:value="ddUsers.data.id">
                            <table class="table table-striped table-bordered table-sm">
                                <tr>
                                    <td>Image</td>
                                    <td>Name</td>
                                    <td>Email</td>
                                    <td>Phone No.</td>
                                </tr>
                                <tr>
                                    <td><img dmx-bind:src="ddUsers.data.image" width="50" height="50"></td>
                                    <td>{{ddUsers.data.user_fname.titlecase()}}</td>
                                    <td>{{ddUsers.data.user_email}}</td>
                                    <td>{{ddUsers.data.user_mobile}}</td>
                                </tr>
                            </table>
                            <div class="mb-3 row">
                                <div class="col-sm-10">
                                    <button type="submit" class="btn btn-primary" dmx-bind:disabled="state.executing">Delete<span class="spinner-border spinner-border-sm" role="status" dmx-show="state.executing"></span></button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Add users -->
        <div class="modal fade" id="modalAddUsers" is="dmx-bs5-modal" tabindex="-1" nocloseonclick="true" nokeyboard="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">{{ddUsers.data.id ? 'Edit User Details' : 'Add A New User'}}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form is="dmx-serverconnect-form" id="formAddEditUser" method="post" action="api/Users/AddEditUsers" dmx-generator="bootstrap5" dmx-form-type="horizontal" dmx-on:success="formAddEditUser.data.AddEditUsers ? scNotif.success('New User Added') : scNotif.success('User Details Updated');formAddEditUser.reset();scUsers.load();" dmx-on:error="scNotif.warning('An error occurred'); ">
                            <input type="hidden" name="UserId" dmx-bind:value="ddUsers.data.id">
                            <div class="mb-3 row">
                                <label for="inp_name" class="col-sm-2 col-form-label">User Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inp_name" name="name" aria-describedby="inp_name_help" placeholder="Enter Name" maxlength="50" required="" data-msg-required="User Name is required." dmx-bind:value="ddUsers.data.user_fname">
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="inp_email" class="col-sm-2 col-form-label">Email</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inp_email" name="email" aria-describedby="inp_email_help" placeholder="Enter Email" maxlength="100" required="" data-msg-required="Email id is required." data-rule-email="" data-rule-nowhitespace="" dmx-bind:value="ddUsers.data.user_email">
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="inp_mobile" class="col-sm-2 col-form-label">Mobile</label>
                                <div class="col-sm-10">
                                    <input type="number" class="form-control" id="inp_mobile" name="mobile" aria-describedby="inp_mobile_help" placeholder="Enter Mobile" maxlength="10" required="" data-msg-required="Mobile id is required." data-rule-number="" dmx-bind:value="ddUsers.data.user_mobile">
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="inp_status" class="col-sm-2 col-form-label">Status</label>
                                <div class="col-sm-10">
                                    <select type="text" class="form-control" id="inp_status" name="status" aria-describedby="inp_status_help" placeholder="Enter Status" dmx-bind:value="ddUsers.data.u_status">
                                        <option value="1">Active</option>
                                        <option value="0">InActive</option>
                                    </select>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="inp_super_user" class="col-sm-2 col-form-label">User Type</label>
                                <div class="col-sm-10">
                                    <select type="number" class="form-control" id="inp_user_type" name="user_type" aria-describedby="inp_user_type_help" placeholder="Enter user type" dmx-bind:value="ddUsers.data.user_type">
                                        <option value="">Select Option</option>
                                        <option value="2">Distributor</option>
                                        <option value="3">Retailer</option>
                                    </select>
                                </div>
                            </div>
                            <div class="mb-3 row" dmx-show="!ddUsers.data.id">
                                <label for="inp_password" class="col-sm-2 col-form-label">Password</label>
                                <div class="col-sm-10">
                                    <input type="password" class="form-control" id="inp_password" name="password" aria-describedby="inp_password_help" placeholder="Enter Password" maxlength="50" dmx-show="!ddUsers.data.id">
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <div class="col-sm-2">&nbsp;</div>
                                <div class="col-sm-10">
                                    <button type="submit" class="btn btn-primary" dmx-bind:disabled="state.executing">Save<span class="spinner-border spinner-border-sm" role="status" dmx-show="state.executing"></span></button>
                                </div>
                            </div>
                        </form>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Mobile recharge -->
        <div class="modal fade" id="modalMobRech" is="dmx-bs5-modal" tabindex="-1" nokeyboard="true" nocloseonclick="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Mobile Recharge</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form is="dmx-serverconnect-form" id="formMobRech" method="post" action="api/RechargeAPI/MobileRecharge" dmx-generator="bootstrap5" dmx-form-type="horizontal" dmx-on:success="formMobRech.data.MobileRecharge ? scNotif.success('Recharge Success') : scNotif.warning('API hitted, but pending'); modalMobRech.hide();scMobRech.load({})" dmx-on:error="scNotif.danger('An error occurred'); modalMobRech.hide();">
                            <!-- <input type="hidden" name="MobRechId" dmx-bind:value="ddMobRech.data.id"> -->
                            <div class="mb-3 row">
                                <label for="inp_mobile" class="col-sm-2 col-form-label">Mobile</label>
                                <div class="col-sm-10">
                                    <input type="number" class="form-control" id="inp_MobRech" name="MobRech" aria-describedby="inp_MobRech_help" placeholder="Enter mobile bo be recharged" maxlength="10" required="" data-msg-required="Mobile id is required." data-rule-number="">
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="inp_name" class="col-sm-2 col-form-label">Operator</label>
                                <div class="col-sm-10">
                                    <select type="text" class="form-control" id="inp_opname" name="op_code" aria-describedby="inp_opname_help" placeholder="Enter Operator Name" maxlength="50" data-msg-required="Operator Name is required." dmx-on:click="scOperator.load({})" dmx-bind:options="scOperator.data.OperatorFetch.data" optiontext="operator_name" optionvalue="op_id">
                                        <option value="">Select</option>

                                    </select>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="inp_amount" class="col-sm-2 col-form-label">Amount</label>
                                <div class="col-sm-10">
                                    <input type="number" class="form-control" id="inp_amt" name="MobRechAmount" aria-describedby="inp_amount_help" placeholder="Enter Amount" maxlength="50">
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <div class="col-sm-2">&nbsp;</div>
                                <div class="col-sm-10">
                                    <button type="submit" class="btn btn-primary" dmx-bind:disabled="state.executing">Submit<span class="spinner-border spinner-border-sm" role="status" dmx-show="state.executing"></span></button>
                                </div>
                            </div>
                        </form>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <%- await include(content, locals); %>




    </div>
    <script src="bootstrap/5/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


    <div class="clear"></div>
    <div class="tst" style="display: none; max-width: 85%; max-height: 90%;"></div>
    <section class="footer_bar">
        <div class="copyr"> <span class="ctl00_cpRight">Copyright @ 2021 SWInfotech.in</span></div>
    </section>
</body>

</html>