<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="mobilerecharge" appConnect="local" components="{dmxFormatter:{}}" -->
<meta name="ac:route" content="/mobile-recharge">
<!-- <dmx-serverconnect id="scMobRech" url="api/RechargeAPI"></dmx-serverconnect> -->
<dmx-data-view id="dvMRech" pageSize="100" page="10" dmx-bind:data="scMobRech.data.API_Response.data"></dmx-data-view>
<dmx-data-detail id="ddMobRech" dmx-bind:data="dvMobRech.data" key="id"></dmx-data-detail>
<header>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 id="headingMobRech" class="text-center align-self-center">SW Infotech Mobile Recharge</h1>
                <button id="btnAdd" class="btn btn-primary" dmx-on:click="modalMobRech.show(); ddMobRech.select(0);">Recharge Now</button>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-sm">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Message</th>
                    <th>Time</th>
                    <th>User Name</th>
                    <th>Image</th>
                    <th>R.Mobile</th>
                    <th>Operator</th>
                    <th>Amt.</th>
                    <th>Status</th>
                    <th>Balance</th>
                    <th>Agent Id/ Live Id</th>
                    <th>Order Id</th>
                    <th>Tr. Id</th>
                    <th>EC</th>
                    <th>Process Time</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody is="dmx-repeat" dmx-generator="bs5table" id="tableRepeat1" dmx-bind:repeat="scMobRech.data.API_Response.data">
                <tr dmx-class:table-warning="status == 1" dmx-class:table-success="status == 2" dmx-class:table-danger="status == 3">
                    <td dmx-text="id"></td>
                    <td dmx-text="remarks"></td>
                    <td dmx-text="time"></td>
                    <td dmx-text="user_id"></td>
                    <td><img dmx-bind:src="image" width="50" height="50">
                    </td>
                    <td dmx-text="recharge_mobile"></td>
                    <td dmx-text="operator"></td>
                    <td dmx-text="amount"></td>
                    <td dmx-text="status"></td>
                    <td dmx-text="balance">
                    <td dmx-text="live_id"></td>
                    <td dmx-text="order_id"></td>
                    <td dmx-text="apirefid"></td>
                    </td>
                    <td dmx-text="ec"></td>
                    <td dmx-text="blank1"></td>
                    <td>
                        <a class="dropdown-item" href="#" dmx-on:click="ddMobRech.select(id)" data-bs-toggle="modal" data-bs-target="#"><i class="fas fa-eye" title="Details"></i></a>&emsp;
                        <a class="dropdown-item" href="#" dmx-on:click="ddMobRech.select(id)" data-bs-toggle="modal" data-bs-target="#"><i class="far fa-trash-alt" title="Delete User"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>