<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="operators" appConnect="local" components="{dmxSwiper:{},dmxFormatter:{}}" -->
<dmx-serverconnect id="scService" url="api/Services/Services"></dmx-serverconnect>
<meta name="ac:route" content="/operators">
<dmx-serverconnect id="scOperator" url="api/operator/OperatorsFetch" dmx-param:limit="100"></dmx-serverconnect>
<dmx-data-view id="dvOperator" dmx-bind:data="scOperator.data.OperatorFetch.data"></dmx-data-view>
<dmx-data-detail id="ddOperators" dmx-bind:data="dvOperator.data" key="op_id"></dmx-data-detail>
<header>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 id="Operator" class="text-center align-self-center">SW Infotech Operators</h1>
                <button id="btnAdd" class="btn btn-primary" dmx-on:click="modalAddOperators.show(); ddOperators.select(0);">Add Operator</button>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-sm">
            <thead>
                <tr>
                    <th>Sl. No.</th>
                    <th>Op. Name</th>
                    <th>Service</th>
                    <th>API Code</th>
                    <th>operator Code</th>
                    <th>User Type</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody is="dmx-repeat" dmx-generator="bs5table" dmx-bind:repeat="dvOperator.data" id="tableRepeat1">
                <tr>
                    <td>{{$index+1}}</td>
                    <td dmx-text="operator_name.titlecase()"></td>
                    <td dmx-text="service_name"></td>
                    <td dmx-text="api_code"></td>
                    <td dmx-text="operator_code"></td>
                    <td dmx-text="operator_type == 1 ? 'Admin' : operator_type == 2 ? 'DT' : operator_type == 3 ? 'RT' : 'None'" dmx-class:table-primary="operator_type == 1" dmx-class:table-success="operator_type == 2" dmx-class:table-warning="operator_type == 3" dmx-class:table-danger="operator_type == 4"></td>
                    <td dmx-text="status != 1 ?'Inactive' : 'Active'" dmx-class:table-primary="status == 1" dmx-class:table-warning="status != 1"></td>
                    <td>
                        <a class="dropdown-item" href="#" dmx-on:click="ddOperators.select(op_id)" data-bs-toggle="modal" data-bs-target="#modalAddOperators"><i class="fas fa-edit" title="Edit Operator"></i></a>&emsp;
                        <a class="dropdown-item" href="#" dmx-on:click="ddOperators.select('op_id')" data-bs-toggle="modal" data-bs-target="#modalDelUser"><i class="far fa-trash-alt" title="Delete User"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>

<!-- Modal Add Operators -->
<div class="modal fade" id="modalAddOperators" is="dmx-bs5-modal" tabindex="-1" nocloseonclick="true" nokeyboard="true" nofocus="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ddOperators.data.op_id ? 'Edit Operators' : 'Add Operators'}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form is="dmx-serverconnect-form" id="formAddEditOperator" method="post" action="api/operator/OperatorsAddEdit" dmx-generator="bootstrap5" dmx-form-type="horizontal" dmx-on:success="formAddEditOperator.data.AddEditOperators ? scNotif.success('New Operator Added') : scNotif.success('Operator Updated'); formAddEditOperator.reset(); scOperator.load()" dmx-on:error="scNotif.warning('An error occurred'); modalAddOperators.hide();formAddEditOperator.reset()">
                    <!-- modalAddOperators.hide();browserMain.goto('operators') -->
                    <input type="hidden" name="OperatorId" dmx-bind:value="ddOperators.data.op_id">
                    <div class="mb-3 row">
                        <label for="inp_name" class="col-sm-2 col-form-label">Operator Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inp_Operator_name" name="name" aria-describedby="inp_name_help" placeholder="E.g: AIRTEL/ BSNL" maxlength="50" required="" data-msg-required="Operator Name is required." dmx-bind:value="ddOperators.data.operator_name">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="inp_Operators_code" class="col-sm-2 col-form-label">Operator Code</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inp_Operator_code" name="operator_code" aria-describedby="inp_Operator_code_help" placeholder="Enter Operator Code" maxlength="10" required="" data-msg-required="Operator code is required." dmx-bind:value="ddOperators.data.operator_code" data-msg-number="">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="inp_api_Operator_desc" class="col-sm-2 col-form-label">API Code</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inp_api_Operators_code" name="api_code" aria-describedby="inp_api_Operator_code_help" placeholder="Enter API Operator code." maxlength="100" dmx-bind:value="ddOperators.data.api_code">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="inp_service" class="col-sm-2 col-form-label">Service</label>
                        <div class="col-sm-10">
                            <select type="text" class="form-control" id="inp_Operator_service" name="service" aria-describedby="inp_service_help" placeholder="Enter Service" dmx-bind:options="scService.data.FetchServices.data" optiontext="service_name" optionvalue="id" dmx-bind:value="ddOperators.data.service_id">
                                <option value="">Select Service</option>
                            </select>

                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="inp_status" class="col-sm-2 col-form-label">Status</label>
                        <div class="col-sm-4">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="SwitchCheckStatus" name="op_status" dmx-bind:checked="ddOperators.data.status == 1" dmx-bind:value="SwitchCheckStatus.checked ? 1 : 0">
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-sm-2">&nbsp;</div>
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-primary" dmx-bind:disabled="state.executing">Save<span class="spinner-border spinner-border-sm" role="status" dmx-show="state.executing"></span></button>
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>