<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="walletcredits" appConnect="local" components="{dmxFormatter:{},dmxDataTraversal:{},dmxValidator:{}}" -->
<dmx-value id="varBalance" dmx-bind:value="0"></dmx-value>
<dmx-value id="varAb" dmx-bind:value=""></dmx-value>
<script is="dmx-flow" id="flowFetchUser" type="text/dmx-flow">{
  condition: {
    if: "{{(formAddCredit.UserTypeSelf.value)}}",
    then: {
      steps: {
        run: {action: "{{scUserSchemPrio.load({})}}"}
      }
    }
  }
}</script>
<meta name="ac:route" content="/wallet-credits">
<dmx-serverconnect id="scUserType" url="api/Users/UserType"></dmx-serverconnect>
<dmx-serverconnect id="scUserSchemPrio" url="api/Scheme/FetchSchPrioUser" dmx-param:user_type="formAddCredit.UserTypeSelf.value" noload></dmx-serverconnect>
<dmx-data-detail id="ddUserScheme" dmx-bind:data="scUserSchemPrio.data.UserDetails" key="id"></dmx-data-detail>
<dmx-serverconnect id="scAdminTrans" url="api/Transactions/FetchAllAdminBalTr"></dmx-serverconnect>

<header>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 id="CreditHeading" class="text-center align-self-center">SW Infotech Wallet Amount Credit</h1>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="card">
        <div class="card-header sw-bg-col-primary">
            <b>Wallet Credit Add to MDT/DT/RT</b>
        </div>

        <div class="card-body">
            <form is="dmx-serverconnect-form" id="formAddCredit" method="post" action="api/Transactions/CreditAdd" dmx-generator="bootstrap5" dmx-form-type="horizontal" dmx-on:success="formAddCredit.data ? scNotif.success('New Credit Added') : scNotif.success('Credit Updated');formAddCredit.reset(); scCommision.load({});scAdminBalance.load()" dmx-on:error="scNotif.warning('An error occurred'); ">
                <div class="row">
                    <div class="col-12 col-lg-2 p-2">
                        <label>User Type</label>
                        <select id="UserTypeSelf" name="user_type" class="form-control form-select col-12 px-2" dmx-bind:options="scUserType.data.GetUserType" optiontext="user_type" optionvalue="id" dmx-on:changed="flowFetchUser.run()" required="">
                            <option value="">Select</option>
                        </select>
                    </div>
                    <div class="col-12 col-lg-7 p-2">
                        <label>Select User</label>
                        <select type="text" class="form-control form-select" id="inp_target_user" name="target_user_id" aria-describedby="inp_target_user_help" dmx-bind:options="scUserSchemPrio.data.UserDetails" optiontext="user_mobile+' - '+user_id+' - '+user_fname+' :: Current Balance = Rs. '+balance_amt" optionvalue="id" required="">
                            <!--  -->
                            <option value="">Select</option>
                        </select>
                    </div>
                    <div class="col-12 col-lg-3 p-2">
                        <label>Credit Amount</label>
                        <input type="number" id="credit_amount" name="credit_amount" class="form-control" placeholder="E.g: 100" required="">
                    </div>
                    <!-- <div class="col-12 col-md-3 p-2">
                        <label>Current Balance</label>
                        <b>{{scUserSchemPrio.data.UserDetails[0].balance_amt}}</b>
                    </div> -->
                    <div class="col-12 col-lg-2 p-2">
                        <label>Admin TPIN</label>
                        <input type="number" id="tpin" name="tpin" class="form-control" placeholder="E.g: 1452" required="">
                    </div>
                    <div class="col-12 col-lg-7 p-2">
                        <label>Comments/ Remarks</label>
                        <input type="text" id="comment" name="comment" class="form-control" placeholder="Add any note (optional)">
                    </div>
                    <div class="col-4 p-0 ms-3">
                        <button id="btn1" class="btn btn-info mt-md-4" type="submit" dmx-bind:disabled="state.executing" dmx-on:click="scAdminTrans.load()">Credit<span class="spinner-border spinner-border-sm" role="status" dmx-show="state.executing"></span></button>

                    </div>
                </div>
            </form>
        </div>
        <div class="card-header sw-bg-col-primary mt-3">
            <b>Admin Wallet Credit update</b>
        </div>
        <div class="card-body">
            <form is="dmx-serverconnect-form" id="formAdminCredit" method="post" action="api/Transactions/CreditToAdmin" dmx-generator="bootstrap5" dmx-form-type="horizontal" dmx-on:success="formAdminCredit.data ? scNotif.success('New Credit Added') : scNotif.success('Credit Updated');formAdminCredit.reset(); scCommision.load({});scAdminBalance.load()" dmx-on:error="scNotif.warning('An error occurred'); ">

                <div class="row">
                    <div class="col-12 col-lg-3 p-2">
                        <label>Update Admin Credit Amount</label>
                        <input type="number" id="admin_credit_amount" name="admin_credit_amount" class="form-control" placeholder="E.g: 100" required="">
                    </div>
                    <div class="col-12 col-lg-2 p-2">
                        <label>TPIN</label>
                        <input type="number" id="admin_tpin" name="admintpin" class="form-control" placeholder="E.g: 1452" required="">
                    </div>
                    <div class="col-4 p-0 ms-3">
                        <button id="AdminCredit" class="btn btn-info mt-md-4" type="submit" dmx-bind:disabled="state.executing" dmx-on:click="scAdminTrans.load()">Admin Credit<span class="spinner-border spinner-border-sm" role="status" dmx-show="state.executing"></span></button>

                    </div>
                </div>
            </form>

        </div>
    </div>

</div>
<div class="container">
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-sm">
            <thead>
                <tr>
                    <th>Sl No.</th>
                    <th>Tr. Id</th>
                    <th>Type</th>
                    <th>User Details</th>
                    <th>Old Bal.</th>
                    <th>Amt.</th>
                    <th>Comm. | Chrg. | Net Amt.</th>
                    <th>New Val.</th>
                    <th>Remarks</th>
                </tr>
            </thead>
            <tbody is="dmx-repeat" dmx-generator="bs5table" id="tableRepeat1" dmx-bind:repeat="scAdminTrans.data.GetAllAdminTrans">
                <tr>
                    <td>{{$index+1}}</td>
                    <td dmx-text="transaction_id"></td>
                    <td dmx-text="tr_type+' | '+tr_mode "></td>
                    <td dmx-text="details+' | '+user_number+' | '+user_id"></td>
                    <td dmx-text="opening_balance.toNumber().toFixed(2)"></td>
                    <td dmx-text="amount.toNumber().toFixed(2)"></td>
                    <td dmx-text="comm_amt.toNumber().toFixed(2)+' | '+charge_amt.toNumber().toFixed(2)+' | '+net_amt.toNumber().toFixed(2)"></td>
                    <td dmx-text="closing_balance.toNumber().toFixed(2)"></td>
                    <td dmx-text="reason"></td>
                </tr>
            </tbody>
        </table>
    </div>

</div>