.sw-bg-col-primary{
    background-color: #1ebea5 !important;
    color: #ffffff;
}
.sw-col-ar{
    color: #16b916 !important;
}
.sw-col-br{
    color: #b91660 !important;
}
.sw-col-cr{
    color: #1641b9 !important;
}
.sw-col-dr {
    color: #ef091f !important;
}